.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: calc(100% - 30px);
  height: 10vh;
  background-color: #202c33;
}
.chat-profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px 15px;
  color: #e4e4e4;
}

.chat-profile .chat-profile-image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.chat-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.chat-body {
  padding: 20px 50px;
  width: calc(100% - 100px);
  background: url("../../images/whatsapp-bg.png");
  background-color: #101a20e8;
  background-blend-mode: multiply;
  /* height: calc(78vh - 130px); */
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow-y: auto;
  gap: 25px;
}
.message .title {
  display: inline;
  background-color: #202c33;
  padding: 5px;
  border-radius: 6px;
  position: relative;
  z-index: 33;
  padding: 8px 15px;
  opacity: 1;
  color: rgb(228, 228, 228);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.indicator {
  position: absolute;
  top: 0;
  z-index: 11;
  display: block;
  background: transparent;
  width: 0;
  height: 0;
  border-top: 12px solid #202c33;
  border-left: 14px solid transparent;
}

.right-message .indicator {
  right: -10px;
  border-right: 14px solid transparent;
}
.left-message .indicator {
  left: -10px;
}

.right-message {
  text-align: right;
}

/* footer part  */
.chat-footer {
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  width: calc(100% - 30px);
  gap: 20px;
  padding: 15px;
  background-color: #202c33;
  position: sticky;
  bottom: 0px;
  left: 0;
  z-index: 9;
  height: 6vh;
}
.chat-footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-footer .chat-input {
  width: 100%;
  background-color: #2a3942;
  padding: 12px 15px;
  border-radius: 8px;
  display: flex;
}
.chat-footer .icon {
  font-size: 30px;
  color: #c2c0c0;
}
.chat-footer .chat-input input {
  width: 95%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: aliceblue;
  /* margin: 0 auto; */
}

@media only screen and (max-width: 768) {
  .chat-body {
    padding: 20px 10px;
    width: calc(100% - 20px);
  }
}
